* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  min-height: 100dvh;
}

/* ----- SELECT 1 STYLING ----- */

.select1-wrapper {
  position: relative;
}

.select1 {
  padding: 10px 40px 10px 20px;
  background-color: #3d3939;
  font-size: 1rem;
  color: white;
  overflow: hidden;
  cursor: pointer;
}

.select1-wrapper .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #000;
  pointer-events: none;
}

.select1-wrapper .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 7px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transform: translate(-50%, -50%);
}

/* ----- SELECT 2 STYLING ----- */

.select2-wrapper {
  position: relative;
}

.select {
  position: relative;
  padding: 10px 60px 10px 20px;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.select.active .select-arrow::after {
  transform: rotateZ(135deg);
}

.select-text {
  pointer-events: none;
}

.select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  background-color: orange;
  pointer-events: none;
}

.select-arrow::after {
  content: "";
  width: 8px;
  height: 8px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotateZ(-45deg);
  transition: transform 0.5s;
}

.options-container {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  border: 2px solid orange;
  border-radius: 10px;
  list-style-type: none;
}

.options-container.active {
  display: flex;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(255, 165, 0, 0.4);
}

.option.selected {
  background-color: orange;
}
